{% load static %}
<nav class="navbar navbar-expand-lg comic-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">The Avengers HQ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_record' %}">Add Record</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            {% if user.is_authenticated %}
            
            
            <li class="nav-item navbar-nav ">
                <a class="nav-link disabled">Hi, {{user.first_name}}</a>
            </li>
            
            <form class="d-flex" role="search" method="GET" action="{% url 'home' %}">
                <div class="input-group">
                    <input type="search" name="q" class="form-control me-2" placeholder="Search records..." value="{{ request.GET.q }}">
                    <button class="btn btn-outline-success search" type="submit">Search</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</nav>